<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @person.content %>
</p>

<p>
	<strong>Country:</strong>
	<%= @person.country.name %>
</p>
<p>
	<strong>State:</strong>
	<%= @person.state.name %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
